h1, p {
    text-align: center;
    margin: 1em auto;
}

body {
    background-image: url('https://th.bing.com/th/id/OIG.xewTVzU8FRMpoGOFdPh3?pid=ImgGn');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    font-family: Tahoma;
}

form {
    width: 70vw;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em;
}

fieldset {
    border: none;
}

label {
    display: block;
}

input, textarea, select {
    width: 100%;
    min-height: 2em;
    margin: 10px 0;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 1em auto;
    font-size: 1.3rem;
}